@import url(../../constants/constants.module.css);

.header {
    position: fixed;
    width: 100%;
    letter-spacing: 0em;
    min-width: 1440px;
    background: var(--color-blue);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
    font-family: 'Roboto';
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.leftBlock {
    display: flex;
    justify-content: space-between;
    width: 464px;
}

.toDoList {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px; 
    color: var(--color-white-primary);
}

.btnPrimary {
    font-size: 20px;
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    border: none;
    background-color: inherit;
    color: var(--color-white-primary);
    padding: 0 6px;
}

.btnPrimary:hover {
    cursor: pointer;
}
