/* Header */
.header {
    width: 100%;
    min-width: 1440px;
    height: 88px;
    background: #3F72AF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    top: 0;
    left: 0;
}

.header__to-do_list {
    
    width: 156px;
    height: 40px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px; 

    color: #FFFFFF;

}

.header__navlinks {
    display: flex;
    justify-content: space-between;
}

.header__right-block {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/* btn-primary */
.header__btn-primary {
    display: flex;
    justify-content: center;
    width: 216px;
}






