@import url(../../constants/constants.module.css);

.container {
    --padding-size: 24px;

    position: absolute;
    width: calc(800px - var(--padding-size) * 2);
    max-height: calc(800px - var(--padding-size) * 2);
    background: var(--color-white-secondary);
    box-shadow: 0px 8px 24px var(--color-background-shadow);
    border-radius: 4px;
    padding: var(--padding-size);
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.messageText {
    --max-lines: 2;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;   
    line-height: 24px;
    color: var(--color-black);
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines); 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.actions {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    gap: 24px
}

.btnSubmit {
    width: 120px;
    height: 46px;
    border-radius: 4px;
    background: var(--color-blue);
    border: 2px solid var(--color-blue);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white-primary);
    padding: 0;
}

.btnCansel {
    width: 120px;
    height: 46px;
    border-radius: 4px;
    background: var(--color-white-primary);
    border: 2px solid var(--color-blue);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-blue);
}

.btnSubmit:hover,
.btnCansel:hover {
    cursor: pointer;
}
