.btnSecondary {
    width: 120px;
    height: 46px;
    border-radius: 4px;
    background: var(--color-white-primary);
    border: 2px solid var(--color-blue);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-blue);
}

.btnSecondary:hover {
    cursor: pointer;
}
